/*
* Jasmine Middaugh
* Due Date
* Project Name and Description
*/

/* The universal selector */

* { 

}

/* Body attributes here */

body {
    
}
    #top {width: 500px; height: 300px;}
    #post {width: 600px; height: 350px;}
    #federer {width: 400px; height: 250px;}